[Unit]
Description=WPA Supplicant
Requires=wpa-supplicant-wlan0.service
After=wpa-supplicant-wlan0.service
Wants=network.target
[Service]
ExecStart=/sbin/udhcpc -i wlan0
Restart=on-failure

[Install]
WantedBy=multi-user.target
