[Unit]
Description=Set QT_QPA_PLATFORM and other environment variables in /etc/environment

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "QT_QPA_PLATFORM=wayland" >> /etc/environment'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target